<html>
  <title>Dashboard</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
  </head>
  <br />
  <div class="header">
    <form id="login-form" method="post" method="POST">
      <a
        href="{{ url_for('.viewOrders') }}"
        class="menu-item"
        value="View orders"
      >
        View Orders
      </a>

      <span class="space"></span>
      <a
        href="{{ url_for('.changeAdminPassword') }}"
        class="menu-item"
        id="changePassword"
      >
        Change Password
      </a>
      <span class="logoutSpace"></span>
      <a href="{{ url_for('.logout') }}" class="menu-item" id="logout">
        Logout
      </a>
    </form>
  </div>
</html>
