<html>
<title>
Change Password
</title> 
{% include 'custHead.html' %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet"  href="{{ url_for('static', filename='changePassword.css') }}" >
        <form id = "customer-form" action = "{{ url_for('.updatePassword') }}" method = "POST">
        <br>
        <br>
        <br>
        <div id = "password-details">
            <div id = "oldPassword">
                <label for = "existing-password"><Strong>Current Password:</Strong></label>
                <input type = "text" name = "currentPassword" class = "style-2">
            </div>
            <br>
            <br>
            <div id = "newPassword">
                <label for = "new-password"><Strong>New Password:</Strong></label>
                &nbsp &nbsp &nbsp <input type = "text" name = "newPassword" class = "style-2">
            </div>
            <br>
            <br>
            <div>
                <button type = "submit" id = "submit">Submit</button>
            </div> 
            <div>
                <label id = "invalid-label" name = "invalid">{{invalid}}</label>
                <label id = "valid-label" name = "invalid">{{valid}}</label>
            <div>
        </div>
    </body>
</html>