<html>
<title>
Dashboard
</title>    
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel = "stylesheet"  href="{{ url_for('static', filename='customer.css') }}">
</head>
    <br>
    <div class = "customer-header">
        <form id = "login-form" method = "POST">
            <a href = "{{ url_for('.newOrder') }}" class="customer-header-item"> New Order </a>
            <span class = "space"></span>
            <a href = "{{ url_for('.previousOrders') }}" class="customer-header-item" id = "customer"> View Previous Orders </a>
            <span class = "passSpace"></span>
            <a href = "{{ url_for('.changePassword') }}" class="customer-header-item" id = "changePassword"> Change Password </a>
            <span class = "logoutSpace"></span>
            <a href = "{{ url_for('.logout') }}" class="customer-header-item" id = "logout"> Logout </a>
        </form>
    </div>
    <br>
    <br>
</head>