<!DOCTYPE html>
<title>
New Order
</title> 
    {% include 'custHead.html' %}

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type = "text/javascript" src = "{{ url_for('static', filename='newOrder.js') }}">
</script>

<body>
<link rel = "stylesheet"  href="{{ url_for('static', filename='newOrder.css') }}">
    <div id= "order-form">
        <form id="order-form" action = "{{ url_for('.placeOrder') }}" method = "POST">
        <label id = "invalid-label" name = "invalid">{{error}}</label>
            <div class = "customer">
                <label for = "customer" ><Strong>Customer Name:</Strong></label>
                &nbsp &nbsp<input type = "text" id = "customer_name" name = "customer" class = "textbox">
            </div>
            <div class = "address">
                <label for = "address" ><Strong>Customer Address:</Strong></label>
                &nbsp &nbsp<input type = "text" id = "address" name = "address" class = "textbox">
            </div>
            <div class = "stateZip">
            <label for = "state" ><Strong>State:</Strong></label>
                <select id = "state" name = "state" label = " ">
                        <option value = "">Select a State</option>
                        <option value = "NSW">NSW</option>
                        <option value = "QLD">QLD</option>
                        <option value = "SA">SA</option>
                        <option value = "TAS">TAS</option>
                        <option value = "WA">WA</option>
                        <option value = "VIC">VIC</option>
                </select>
                &nbsp &nbsp<label for = "zip" ><Strong>Zip:</Strong></label>
                &nbsp<input type = "text" name = "zip" id = "zip" class = "textbox" maxlength="4">
            </div>

            <div class = "phone">
                <label for = "phone" ><Strong>Customer Phone:</Strong></label>
                &nbsp &nbsp<input type = "text" name = "phone" id = "phone" class = "textbox" maxlength="10">
            </div>

            <div class = "pic">
                <label for = "pic" ><Strong>Drive link to file:</Strong></label>
                &nbsp &nbsp<input type = "text" name = "file" id = "link" class = "textbox">
            </div>

            <div class = "order-type">
                <label for = "order" ><Strong>Order Type:</Strong></label>
                <label for = "print"><input type="radio" id = "print-only" class = "order-type"  name = "ordertype" value = "photo" onclick = "show(1)">Print Photo </label>
                <label for = "print"><input type="radio" id = "canvas-only" class = "order-type" name = "ordertype" value = "canvas" onclick = "show(3)">Print Canvas</label>
                <label for = "print"><input type="radio" id = "canvas-frame" class = "order-type" name = "ordertype" value = "doc" onclick = "show(2)">Print Document</label>
            </div>
            

            <div class = "print-only-class" id = "print-only-class" style="display: none" data-target = "2">
      	        <div class = "size">
                    <label for = "customer" >Size:</label>
                    <input list="sizes" name="print-only-size" id = "size"/></label>
                        <datalist id="sizes">
                            <option value="Select a size or enter a custom size">
                            <option value="A4 (210 x 297)">
                            <option value="A3 (297 x 420)">
                            <option value="A2 (420 x 594)">
                            <option value="A1 (594 x 841)">
                            <option value="A0 (841 x 1189)">
                            <option value="B2 (500 x 707)">
                            <option value="B1 (707 x 1000)">
                            <option value="B0 (1000 x 1414)">
                        </datalist>
                    &nbsp<label for = "type" >mm</label>
                </div>
                <div class = "type">
                    <label for = "type" >Orientation:</label>
                    <select id = "type" name = "print-only-type" label = " ">
                        <option value = "none">Select an orientation:</option>
                        <option value = "landscape">Landscape</option>
                        <option value = "portrait">Portrait</option>
                    </select>
                </div>
                <div class = "submit-button">
                    <button type = "submit" id = "submit">Place Order</button>
                </div>
            </div>

            <div class = "document-class" id = "document-class" style="display: none" data-target = "3">
                <div class = "size">
                    <label for = "customer" >Size:</label>
                    <input list="sizes" name="document-size" id = "size"/></label>
                        <datalist id="sizes">
                            <option value="Select a size or enter a custom size">
                            <option value="A4 (210 x 297)">
                            <option value="A3 (297 x 420)">
                            <option value="A2 (420 x 594)">
                            <option value="A1 (594 x 841)">
                            <option value="A0 (841 x 1189)">
                            <option value="B2 (500 x 707)">
                            <option value="B1 (707 x 1000)">
                            <option value="B0 (1000 x 1414)">
                        </datalist>
                    &nbsp<label for = "type" >mm</label>
                </div>
                <div class = "type">
                    <label for = "type" >Orientation:</label>
                    <select id = "type" name = "document-type" label = " ">
                        <option value = "none">Select an orientation</option>
                        <option value = "landscape">Landscape</option>
                        <option value = "portrait">Portrait</option>
                    </select>
                </div>
                
                <div class = "submit-button">
                    <button type = "submit" id = "submit">Place Order</button>
                </div>
            </div>

            <div class = "canvas-only-class" id ="canvas-only-class" style="display: none" data-target = "4">
      	        <div class = "size">
                    <label for = "customer" >Size:</label>
                    <input list="sizes" name="canvas-only-size" id = "size"/></label>
                        <datalist id="sizes">
                            <option value="Select a size or enter a custom size">
                            <option value="A4 (210 x 297)">
                            <option value="A3 (297 x 420)">
                            <option value="A2 (420 x 594)">
                            <option value="A1 (594 x 841)">
                            <option value="A0 (841 x 1189)">
                            <option value="B2 (500 x 707)">
                            <option value="B1 (707 x 1000)">
                            <option value="B0 (1000 x 1414)">
                        </datalist>
                    &nbsp<label for = "type" >mm</label>
                </div>
                <div class = "type">
                    <label for = "type" >Orientation:</label>
                    <select id = "type" name = "canvas-only-type" label = " ">
                        <option value = "none">Select an orientation</option>
                        <option value = "landscape">Landscape</option>
                        <option value = "portrait">Portrait</option>
                    </select>
                </div>
                <div class = "submit-button">
                    <button type = "submit" id = "submit">Place Order</button>
                    <label id = "invalid-label" name = "invalid"><?php echo isset($error) ? $error : ''; ?></label>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
