<html>
  <title>View Items</title>
  {% include 'adminHead.html' %}

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='viewPreviousOrders.css') }}"
    />
    <br />
    <label id="invalid" name="invalid">{{invalid}}</label>
    <div class="table-div">
        <table class="table">
          <thead>
            <tr>
              <th>Item Number</th>
              <th>Customer</th>
              <th>file</th>
              <th>Address</th>
              <th>Email</th>
              <th>Date</th>
              <th>Status</th>
              <th>Size</th>
              <th>Order Kind</th>
              <th>Orientation</th>
              <th>Tracking Number</th>
              <th>Courier Company</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {%if orders == ""%}
            {%for order in orders['Items']%}
            <tr rowspan="1">
              <td colspan="1">{{order['order_num']}}</td>
              <td colspan="1">{{order['customer']}}</td>
              <td colspan="1">{{order['file']}}</td>
              <td colspan="1">{{order['address'].replace("%20", " ")}}</td>
              <td colspan="1">{{order['email']}}</td>
              <td colspan="1">{{order['date']}}</td>
              <td colspan="1">{{order['order_status']}}</td>
              <td colspan="1">{{order['size']}}</td>
              <td colspan="1">{{order['order_type']}}</td>
              <td colspan="1">{{order['orientation']}}</td>
              <td colspan="1">{{order['tracking_num']}}</td>
              <td colspan="1">{{order['courier_company']}}</td>
              <td>
                <form method="POST" action="{{ url_for('.edit') }}">
                  <input type="hidden" name="order_num" value = "{{ order['order_num'] }}"></input>
                  <input type="hidden" name="customer" value = "{{ order['customer'] }}"></input>
                  <input type="hidden" name="file" value = "{{ order['file'] }}"></input>
                  <input type="hidden" name="address" value = "{{order['address']}}"></input>
                  <input type="hidden" name="email" value = "{{order['email']}}"></input>
                  <input type="hidden" name="date" value = "{{ order['date'] }}"></input>
                  <input type="hidden" name="status" value = "{{ order['status'] }}"></input>
                  <input type="hidden" name="size" value = "{{ order['size'] }}"></input>
                  <input type="hidden" name="order_type" value = "{{ order['order_type'] }}"></input>
                  <input type="hidden" name="orientation" value = "{{ order['orientation'] }}"></input>
                  <input type="hidden" name="tracking_num" value = "{{ order['tracking_num'] }}"></input>
                  <input type="hidden" name="courier_company" value = "{{ order['courier_company'] }}"></input>
                  <button type="submit" id="submit">Edit </button>
                </form>
              </td>
            </tr>
            {%endfor%}
            {%else%}
            <tr>
              <td><Strong>No orders found...</Strong></td>
            </tr>
            {%endif%}
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
