<!DOCTYPE html>
<title>
View Previous Orders
</title> 
{% include 'custHead.html' %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    <link rel = "stylesheet"  href="{{ url_for('static', filename='viewPreviousOrders.css') }}" >
    <br>
    <div class = "table-div">
        <table class = "table">
            <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>file</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Size</th>
                    <th>Order Kind</th>
                    <th>Orientation</th>
                    <th>Tracking Number</th>
                    <th>Courier Company</th>
                </tr>
            </thead>
            <tbody>
                {%for order in orders['Items']%}
                {% if order['email'] == email %}
                <tr rowspan = "1">
                    <td colspan = "1">{{order['order_num']}}</td>
                    <td colspan = "1">{{order['customer']}}</td>
                    <td colspan = "1">{{order['address'].replace("%20", " ")}}</td>
                    <td colspan = "1">{{order['file']}}</td>
                    <td colspan = "1">{{order['date']}}</td>
                    <td colspan = "1">{{order['order_status']}}</td>
                    <td colspan = "1">{{order['size']}}</td>
                    <td colspan = "1">{{order['order_type']}}</td>
                    <td colspan = "1">{{order['orientation']}}</td>
                    <td colspan = "1">{{order['tracking_num']}}</td>
                    <td colspan = "1">{{order['courier_company']}}</td>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
    </body>
</html>